/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	opacity: 0.9;
}

a:hover{
	opacity: 1;
}

a.btn{
	color: #fff;
	border-radius: 4px;
	text-transform: uppercase;
	background-color: #2196F3;
	font-weight: 800;
	text-align: center;
}
hr{
	width: 150px;
	height: 2px;
	background-color: #2196F3;
	border: 0;
	margin-bottom: 80px;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 50px;
}

@media (max-width: 1000px){
	section{
		padding: 100px 50px;
	}
}

@media (max-width: 600px){
	section{
		padding: 80px 30px;
	}
}

section h3.title{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
}

section p{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	line-height: 2;
}

ul.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

/*-------------
 	Header
-------------*/
 nav{
	height: 80px;
	width: 100%;
	margin-top: 0%;
}

nav img{
	position: absolute;
	top: 17px;
	left: 5%;
	max-width: 180px;
}
nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 15px;	
}

nav ul li a{
	position: relative;
	color: rgb(255, 255, 255);
	font-size: 18px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: -600;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
  }
#check{
	display: none;
  }

@media (max-width: 1000px){
	nav{
		padding: 20px 50px;
	}
	nav img{
		top: 40px;
		left: 20px;
	}
}

@media (max-width: 858px){
	.checkbtn{
	  display: block;
	}
	nav ul{
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background: #487388;
	  top: 80px;
	  left: -100%;
	  text-align: center;
	  transition: all .5s;
	}
	nav ul li{
	  display: block;
	  margin: 50px 0;
	  line-height: 30px;
	}
	nav ul li a{
	  font-size: 20px;
	  text-transform: uppercase;
	}
	a:hover,a.active{
	  background: none;
	  color: #222425;
	}
	#check:checked ~ ul{
	  left: 0;
	}
	nav img{
		left: 70%;
		top: 40px;
	}
  } 
nav ul li:first-child{
	margin-left: 0;	
}

nav ul li:last-child{
	margin-right: 0;	
} 
@media (max-width: 600px){
	nav{
		flex-direction: column;		
	}

	nav img{
		left: 60%;
		margin-bottom: 15px;
	}
}

@media (max-width: 450px){
	nav img{
	width: 170px;
	left: 53%;
	}
}
@media (max-width: 360px){
	nav img{
	width: 150px;
	left: 50%;
	}
}
/*----------------
 	Hero Section
----------------*/
.hero{
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
}

.hero .background-image{
	position: absolute;
	top: -11%;
	left: 0;
	width: 100%;
	height: 125%;
	background-size: cover;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #505a5f8f;
	opacity: 0.75;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 200px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}
@media (max-width: 1000px)and (min-width: 858px){
	.hero h1{
		font-size: 50px;
		margin-left: 60px;
		margin-right: -500px;
		margin-top: 50px;
	}
}
@media (max-width: 858px){

	.hero{
		min-height: 600px;
		margin:auto
	}
	.hero h1{
		font-size: 48px;
	}
	.hero h3{
		font-size: 24px;
	}
	.hero a.btn{
		padding: 15px 40px;
	}
}
@media (max-width: 460px){
	.hero h1{
		font-size: 40px;
	}
}
/*--------------------
 	Our Work Section
---------------------*/

.our-work{
	background-color: #fff;
	
}
.our-work .grid li{
	font-size: 30px;
	font-family: sans-serif;
	text-align:left;
	color: rgb(17, 1, 14);
	text-shadow:  1px 1px 2px rgb(255, 255, 255), 0 0 1em blue, 0 0 0.2em blue;
	text-align: center;
	padding: 20px;
	height: 350px;
	border-radius: 3px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
	margin-bottom: 50px;
}
.our-work .grid li.small{
	flex-basis: 40%;
}
.our-work .grid li.large{
	flex-basis: 60%;
}

@media (max-width: 1000px){

	.our-work .grid li.small,
	.our-work .grid li.large{
		flex-basis: 100%;
	}
}
/*----------------------
 	Features Section
----------------------*/

.features{
	background-color: #f7f7f7;
}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){
	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}
	.features .grid li:last-child{
		margin-bottom: 0;
	}
}
@media (max-width: 600px){
	.features .grid li{
		flex-basis: 100%;
	}
}
/*----------------------
 	App Section
----------------------*/
.app{
display: flex;
flex-direction: row;
text-align: left;
}

.app img{
	width: 50%;
	height: 500px;
	margin-right: 20px;
}

.app p{
	text-align: left;	
}


@media (max-width: 1000px){

	.app .paragrapheapp{
		font-size: 20px;
	}
}
@media (max-width: 700px){
	.app{
		flex-direction: column;
	}
	.app img{
		width: 100%;
		height: 400px;
	}

	.app .apptitle h3{
		font-size: 24px;
	}
	.grid img{
		height: 280px;
	}
}

@media (max-width: 320px){

	.app{
		flex-direction: column;
	}

	.app .apptitle h3{
		font-size: 24px;
	}
}

/*--------------------
 	Reviews Section
--------------------*/

.reviews{
	background-color: #fff;
}

.reviews .quote{
	text-align: center;
	width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
}

.reviews .author{
    font-size: 18px;
    margin-bottom: 50px;
}

.reviews .author:last-child{
    margin-bottom: 0;
}

@media (max-width: 1000px){

	.reviews .quote{
		font-size: 20px;
	}

	.reviews .author{
	    font-size: 16px;
	}

}




/*---------------------
 	Contact Section
---------------------*/

.contact{
	background-color: #f7f7f7;
}

.contact form{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 800px;
	width: 80%;
}

.contact form input{
	padding: 15px;
	margin-right: 30px;
	font-size: 18px;
	color: #555;
}

.contact form .btn{
	padding: 18px 42px;
} 


@media (max-width: 800px){

	.contact form input{
		flex-basis: 100%;
		margin: 0 0 20px 0;
	}

}




/*-------------
 	Footer
-------------*/

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f;
	padding: 60px 0;
	height: 200px;
}

footer ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;
}

footer ul li{
	margin: 0 8px;	
}

footer ul li:first-child{
	margin-left: 0;	
}

footer ul li:last-child{
	margin-right: 0;	
}

footer p{
	text-transform: uppercase;
	font-size: 14px;
	color: rgba(255,255,255,0.6);
	margin-bottom: 10px;
}

footer p a{
	color: #fff;
}

@media (max-width: 700px){

	footer{
		
		padding-top: 10;
		height: 300px;
	}

}

/* ************.contact******* */
  
  .select, label, input, textarea{
	display: block;
	width: 100%;
	font-size: 12pt;
	line-height: 24pt;
	font-family: "Sans-serif";
	color: black;
	text-align: left;
  }
  .select{
	  height: 30px;
  }

  h6 {
	font-weight: normal;
	font-size: 12px;
	line-height: 24pt;
	font-style: italic;
	margin: 0 0 0.5em 0;
  }
  
  span {
	font-size: 8pt;
  }
  
  
  .select, input, textarea {
	border: none;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	background: #f8f4e5;
	padding-left: 5px;
	outline: none;
  }
  
  
  textarea {
	resize: none;
  }
  
  button {
	line-height: 24pt;
	padding: 0 20px;
	border: none;
	color: white;
	font-size: 16px;
  }
  
/* *********contact*********   */

/* **********category********** */
.gallerie{
	display: flex;
	width: 100%;
	margin-bottom: 40px;
	margin-top: 40px;
}

.wrapper{
	background-color: lightgray;
	border-radius: 20px;
	height: 400px;
	width: 70%;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 30px;
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	/* padding: 15px; */
}
@media (max-width: 1000px){
	.gallerie{
		/* flex-wrap: wrap; */
		margin: auto;
		margin-bottom: 20px;
	}
	.wrapper{
		margin: auto;
		margin-bottom: 20px;
	}
	.Envoyer{
		font-size: 14px;
	}	
}	


.categoryimg{
	height: 350px;
	width: 80%;
	font-size: 20px;
	font-weight: bolder;
	color: black;
}
.categoryimg img{
	height: 280px;
	width: 130%;
	padding: 20px 30px 15px 15px;
	margin: auto;
}
.prix{
	font-weight: 700;
	font-size: 16px;
	color: black;
	margin: 0px;

}
.titreh3{
	color: #414a4f;
	text-transform: capitalize; 
	font: bold 32px 'Open Sans', sans-serif;
	margin-bottom: 35px;
	text-align: center;
	}

/* ******categoryEnd********* */

/* *******booking******* */

.Envoyer{
	background-color:#fcc308;
	cursor: pointer;
	color: #ffffff;
	width: 60%;
	margin: auto;
	text-align: center;
	border-radius: 50px;
	padding: 5px;
	margin-top: 20px;
	font-family: sans-serif;
	margin-bottom: 50px;
}
.sumbit{
	background-color:#fcc308;
	cursor: pointer;
	color: #ffffff;
	width: 60%;
	margin: auto;
	text-align: center;
	border-radius: 50px;
	padding: 5px;
	margin-top: 20px;
	font-family: sans-serif;
}

.fichebook{
	background: #487388;
	border-radius: 10px;
	padding: 30px;
	margin: auto;
	font-family: 'Open Sans', sans-serif;
}

.label_column{
	color: rgb(2, 14, 12);
	

}
#result{
	color:rgb(53, 255, 13);
	font-weight: 800;
	font-size: 50px;
	margin-top: 0px;
}
#Error{
	color:rgb(255, 0, 0);
	font-size : 30px;
	font-weight: 700;
} 

@media (max-width: 1000px) and (min-width: 858px){
	.wrapper{
		margin-right: 10px;
		}

	section form.fichebook{ 
			margin-left: 150px;
			margin-right: -400px;
		}
}

@media (max-width : 858px){
	.truck{
		margin-top: 200px;
	}
	#result{
		font-weight: 800;
		font-size: 40px;
		margin-top: 45px;
	}
	.wrapper{
		margin: auto;
		margin-bottom: 20px
	}
	.categoryimg img{
		height: 280px;
		width: 130%;
		padding: 20px 30px 15px 15px;
	}
	.gallerie{
		flex-direction: column;
		margin: auto;
	}	
}

@media (max-width : 570px){
	.categoryimg img{
		height: 280px;
		width: 130%;
		padding: 20px 11px 15px 2px;
	}
	.truck{
		margin-top: 240px;
	}
}

@media (max-width : 360px){
	.categoryimg img{
		height: 280px;
		width: 130%;
		padding: 20px 9px 15px 2px;
	}
	.truck{
		margin-top: 200px;
	}
	/* .gallerie{
		margin-top: 160px;
	} */
	#result{
		font-weight: 700;
		font-size: 30px;
		margin-top: 20px;
	}
}
